.vscode/settings.json
.vscode/
lbe_maker/lber
lbe_maker/test/lbe_test
lbe_maker/test/test.txt
lbe_maker/test/nohup.out
*/*.a
*.o
*/*.o
*/*/*.o
*/*/*/*.o
*/*/*/*/*.o
*/*/*/*/*/*.o
*/*/*/*/*/*/*.o
*/*/*/*/*/*/*/*.o
*.d
*/*.d
*/*/*.d
*/*/*/*.d
*/*/*/*/*.d
*/*/*/*/*/*.d
*/*/*/*/*/*/*.d
*/*/*/*/*/*/*/*.d
*.clbe
*/*.clbe
*/*/*.clbe
*/*/*/*.clbe
*/*/*/*/*.clbe
*/*/*/*/*/*.clbe
*/*/*/*/*/*/*.clbe
*/*/*/*/*/*/*/*.clbe
*/*/*/*/*/*/*/*/*.clbe
lbe_maker/dbug_log.txt
lbe_maker/error_log.txt